[tool.poetry]
name = "rdap"
version = "1.3.0"
description = "Registration Data Access Protocol tools"
authors = ["20C <code@20c.com>"]
readme = "README.md"
license = "Apache-2.0"

repository = "https://github.com/20c/rdap"

classifiers = [
    "Development Status :: 5 - Production/Stable",
    "Environment :: Console",
    "Topic :: Internet",
    "Topic :: Software Development :: Libraries",
]


[tool.poetry.scripts]
rdap = "rdap.cli:main"


[tool.poetry.dependencies]
python = "^3.7"
munge = "^1.0.0"
requests = "^2.25.1"


[tool.poetry.dev-dependencies]
# testing
codecov = ">=2"
coverage = ">=5"
pytest = ">=6"
pytest-django = ">=3.8"
pytest-filedata = "^0.4.0"
pytest-cov = "*"
tox = "^3.20.1"
tox-gh-actions = "^2.9.1"

# linting
black = ">=20"
isort = ">=5.7"
flake8 = ">=3.8"
mypy = ">=0.950"
pre-commit = ">=2.13"
pyupgrade = ">=2.19"

# docs
markdown = "*"
markdown-include = ">=0.5,<1"
mkdocs = "^1.2.3"

# ctl
ctl = ">=1"
jinja2 = ">=2"
tmpl = ">=1"
# v4 released 2022-03-31
twine = "^3.3.0"

[tool.poetry.plugins."markdown.extensions"]
pymdgen = "pymdgen.md:Extension"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
