[tool.poetry]
name = "rdap"
version = "1.5.1"
description = "Registration Data Access Protocol tools"
authors = ["20C <code@20c.com>"]
readme = "README.md"
license = "Apache-2.0"

repository = "https://github.com/20c/rdap"

classifiers = [
    "Development Status :: 5 - Production/Stable",
    "Environment :: Console",
    "License :: OSI Approved :: Apache Software License",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Topic :: Internet",
    "Topic :: Software Development",
    "Topic :: Software Development :: Libraries",
]


[tool.poetry.scripts]
rdap = "rdap.cli:main"


[tool.poetry.dependencies]
python = "^3.8"
requests = ">=2.25.1"
munge = {version = ">=1.3", extras = ["yaml"]}


[tool.poetry.dev-dependencies]
# testing
coverage = ">=5"
pytest = ">=6"
pytest-django = ">=3.8"
pytest-filedata = ">=0.4.0"
pytest-cov = "*"
tox = ">=3.20"
tox-gh-actions = ">2.9.1"

# linting
black = ">=20"
isort = ">=5.7"
flake8 = ">=3.8"
mypy = ">=0.950"
pre-commit = ">=2.13"
pyupgrade = ">=2.19"

# docs
markdown = "*"
markdown-include = ">=0.5,<1"
mkdocs = ">=1.2.3"

[tool.poetry.plugins."markdown.extensions"]
pymdgen = "pymdgen.md:Extension"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
