ctl:
  permissions:
    - namespace: "ctl"
      permission: "r"

  plugins:
    - name: this_repo
      type: git
      config:
        branch: main
        repo_url: git@github.com:20c/rdap.git

    - name: changelog
      type: changelog

    - name: pypi
      type: pypi
      config:
        config_file: ~/.pypirc
        sign: true

    - name: version
      type: semver2
      config:
        branch_dev: main
        branch_release: main
        repositories:
          - this_repo
