name: ci
on:
  push:
    branches:
      - main
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v4
      - name: Install
        uses: astral-sh/setup-uv@v3
      #- name: deploy mkdocs gh-pages site
      #  run: |
      #    poetry run mkdocs gh-deploy --force
