name: tests

permissions:
  contents: read

on: [push, pull_request]

jobs:

  linting:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Install uv
        uses: astral-sh/setup-uv@v7
      - name: install project
        run: uv sync --all-extras --dev
      - name: Run linters
        run: |
          uv run pre-commit run --all-files

  test:
    needs: linting
    strategy:
      fail-fast: false
      matrix:
        os: [ "ubuntu-latest", "macos-latest" ]
        python-version: [ "3.10", "3.11", "3.12", "3.13" ]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Check out repository
        uses: actions/checkout@v5
      - name: Install uv
        uses: astral-sh/setup-uv@v7
      - name: Install python
        run: uv python install ${{ matrix.python-version }}
      - name: install tox
        # run: uv tool install tox --with tox-uv
        run: uv sync --all-extras --dev
      - name: Run tests
        run: uv run tox
      - name: Upload coverage
        uses: codecov/codecov-action@v5
        with:
          fail_ci_if_error: true
          token: ${{ secrets.CODECOV_TOKEN }}

